{% extends "navbar.html" %}

{% block from_address %}
<div class="col-sm">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">From:</span>
        </div>
        <input id="fromAddress" type="text" class="form-control"/>
    </div>
</div>
{% endblock %}

{% block to_address %}
<div class="col-sm" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">To:</span>
        </div>
        <input id="toAddress" type="text" class="form-control"/>
    </div>
</div>
{% endblock %}

{% block submit_address %}
<div class="col-sm">
    <button type="button" class="btn btn-dark" onclick="requestDirections()">Get Route</button>
</div>
{% endblock %}